@import './nullstyle';

$Key_width: 50px;

.app {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: black;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  letter-spacing: 1em;
}

.textField {
  border: 2px solid black;
  padding: 10px;
  font-size: 30px;
  width: 1100px;
}

.keyboard {
  display: inline-block;
  width: 850px;
  border: 2px solid black;
  background-color: gray;
  margin: 20px;
  padding: 10px;
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
    justify-content: center;
  }
  &__key {
    flex: 0 0 $Key_width;
    &_long {
      flex: 0 0 calc($Key_width * 2 + 5px);
    }
    &[data-key='Space'] {
      flex: 0 0 calc($Key_width * 7 + 30px);
    }
  }
}

.key {
  height: 45px;
  translate: 0.5s ease 0.5s;
  background-color: rgba(87, 87, 87);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  &:hover {
    background-color: rgb(0, 162, 255, 0.4);
  }
  &.active {
    border-radius: 15%;
    background-color: rgb(0, 162, 255, 0.6);
  }
}

.hidden {
  display: none;
}

.lang__descr {
  font-size: 36px;
}
