@import './nullstyle';

$Key_width: 50px;

.app {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: black;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  letter-spacing: 1em;
}

.textField {
  border: 2px solid black;
  padding: 10px;
  font-size: 30px;
  width: 1100px;
}

.keyboard {
  display: inline-block;
  width: 850px;
  border: 2px solid black;
  background-color: gray;
  margin: 20px;
  padding: 10px;
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
    justify-content: center;
  }
  &__key {
    flex: 0 0 $Key_width;
    &_long {
      flex: 0 0 calc($Key_width * 2 + 5px);
    }
    &[data-key='Space'] {
      flex: 0 0 calc($Key_width * 7 + 30px);
    }
    &[data-key='CapsLock'] {
      position: relative;
      & span.circle {
        position: absolute;
        content: '';
        height: 10px;
        width: 10px;
        background-color: black;
        border-radius: 50%;
        top: 3px;
        right: 3px;
        &.press {
          background-color: red;
        }
      }
    }
  }
}

.key {
  border-radius: 10%;
  height: 45px;
  translate: 0.5s ease 0.5s;
  background-color: rgba(87, 87, 87);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 1px rgba(255, 255, 255, 0.5);
  transition: 0.1s ease;
  &:hover {
    border-color: white;
  }
  &.active {
    position: relative;
    top: 3px;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  }
}

.hidden {
  display: none;
}

.lang__descr {
  font-size: 36px;
}
