@import './nullstyle';

$Key_width: 50px;

.app {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: black;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  letter-spacing: 1em;
}

.textField {
  border: 2px solid black;
  padding: 10px;
  font-size: 30px;
  width: 1100px;
}

.keyboard {
  display: inline-block;
  width: 850px;
  border: 2px solid black;
  background-color: gray;
  margin: 20px;
  padding: 10px;
  &__container {
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__row {
    flex: 0 0 50px;
    display: inline-flex;
    gap: 5px 5px;
    justify-content: center;
    align-items: center;
  }
  &__key {
    flex: 0 0 $Key_width;
    &_long {
      flex: 0 0 calc($Key_width * 2 + 5px);
    }
    &.Space {
      flex: 0 0 calc(($Key_width * 7) + (6 * 5px));
    }
  }
}

.key {
  border-radius: 10%;
  height: 40px;
  translate: 0.5s ease 0.5s;
  background-color: rgba(87, 87, 87);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    border-radius: 30%;
  }
}

.hidden {
  display: none;
}
